/* Reset default styles for better consistency */
body, h1, p {
  margin: 0;
  padding: 0;
}

body {
  font-family: Crimson Text, sans-serif;
  line-height: 1.6;
  background-color: black;
  color: white;
}

h1 {
  text-align: center;
  font-size: 65px;
  font-weight: bold;
  margin-top: 20px;
  margin-bottom: 30px;
  color: #DE3831;
  background-color:FFB612;
}

.content-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 20px;
}

.content {
  flex: 1;
  max-width: 650px;
  margin: 10px;
  padding: 20px;
  background-color: #007A4D;
  color: white;
  border-radius: 10px;
}

.content img {
  display: block;
  margin: 20px auto;
  width: 250px;
  height: 350px;
  border-radius: 10px;

p {
  text-align: center;
  margin: 20px 0;
  background-color: FFB612;
}
a {
  color: #C1E6FF;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}